body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.links {
    margin-top: 20px;
}

.link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
} 

.github {
    background-color: #333;
}

.github:hover {
    background-color: #555;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin:hover {
    background-color: #005582;
}

.routes {
    background-color: #4CAF50; /* Example color */
}

.routes:hover {
    background-color: #388E3C; /* Darker shade for hover effect */
}